<form *ngIf="data">
  <mat-card fxFlex="50">
    <mat-card-content fxLayout="column">
      <mat-form-field fxFlex>
        <input matInput
               placeholder="Title"
               [(ngModel)]="data.Title"
               (blur)="retrieveResultsForTitle()"
               name="titleControl" />
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput
               placeholder="Url"
               [(ngModel)]="data.Url"
               (blur)="retrieveResultsForUrl()"
               name="urlControl" />
      </mat-form-field>
      <div fxFlex="10"
           fxLayout 
           fxLayoutGap="10px">
        <mat-form-field>
          <input matInput
                 [matDatepicker]="picker"
                 placeholder="Choose date movie seen"
                 name="seenAtControl"
                 [(ngModel)]="data.SeenAt" />
          <mat-datepicker-toggle matSuffix
                                 [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-mini-fab
                color="primary"
                (click)="setSeenAtInHistory()">
          <mat-icon svgIcon="history"></mat-icon>
        </button>
        <div fxFlex="20"></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxFlex></div>
      <button fxFlex="10"
              mat-raised-button
              color="primary"
              (click)="saveMovie()">
          Save
        </button>
    </mat-card-actions>
  </mat-card>
  <div style="cursor: pointer;"
       (click)="openLink()">
    <img fxFlex
         *ngIf="posterPath"
         style="margin:10px; width: 400px;height: 400px;object-fit: contain;"
         src="http://image.tmdb.org/t/p/w500/{{ posterPath }}" />
  </div>
</form>
